<div class="socialshare">
  <p>Share this</p>
  <div class="shareon">
    <a class="facebook" title="Share on Facebook"></a>
    <a class="linkedin" title="Share on Linkedin"></a>
    <a class="mastodon" title="Share on Mastodon"></a>
    <!-- FB App ID is required for the Messenger button to function -->
    <a class="messenger" data-fb-app-id="0123456789012345" title="Share on Messenger"></a>
    <a class="pinterest" title="Share on Pinterest"></a>
    <a class="pocket" title="Share on Pocket"></a>
    <a class="reddit" title="Share on Reddit"></a>
    <a class="telegram" title="Share on Telegram"></a>
    <a class="twitter" title="Share on Twitter"></a>
    <a class="vkontakte" title="Share on Vkontakte"></a>
    <a class="whatsapp" title="Share on Whatsapp"></a>
    <a class="copy-url" title="Copy link"></a>
    <a class="email" title="Share by Email"></a>
    <a class="print" title="Print"></a>
  </div>
</div>
